* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #d9dcde;
    font-family: 'Open Sans', 'Arial', sans-serif;
}

.content {
    margin: 40px auto;
    padding: 20px;
    width: 400px;
    background-color: #ecf0f1;
    border-radius: 5px;
}

#task-form {
    margin: 20px 0;
}

.listContent {
    margin-left: 20px;
}