* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #d9dcde;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 13px;
}

.content {
    margin: 40px auto;
    padding: 20px;
    width: 400px;
    background-color: #ecf0f1;
    border-radius: 5px;
}

#task-form {
    margin: 20px 0;
}

#task-form input {
    padding: 3px 15px 3px 5px;
}

#submitBtn {
    padding: 3px 8px;
    margin-left: 2px;
}

.listContent {
    margin-left: 20px;
}

#list li {
    padding: 5px;
}

#list li:nth-child(even) {
    background-color: #d9dcde;
}